<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="home-page row-fluid">

  <div class="span4" id="module">
    <div class="well-header">
      <span class="bio title"> Upcoming Shows </span>
    </div>
    <div class="holdster">
      <ul class="share-actions">
        <%= render partial: "shows/info", collection: @shows, as: :show %>
      </ul>
    </div>
  </div>

  <div class="span5" id="module">
    <div class="well-header">
      <span class="bio title"> Latest Entry </span>
    </div>
    <div class="holdster">
      <%= render @blog, object: @blog, as: :blog if @blog %>
    </div>
  </div>

  <div class="span3" id="module">
    <div class="well-header">
        <%= link_to(image_tag("rss.png"), :articles, id: "atom",
            title: "Subscribe") %>
      </span>
    </div>
    <div class="holdster">
      <ul class="share-actions">
        <%= render @articles, collection: @articles %>
      </ul>
    </div>
  </div>
</div>
