<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">

      <p> 1. Apple </p>
      <p> 2. Lonely Summer, Lonely Fall </p>
      <p> 3. Life-Like </p>
      <p> 4. Everything Is Getting Better </p>
      <p> 5. Paradox Lost </p>
      <p> 6. Two Years </p>
      <p> 7. Metaphysical Mine </p>
      <p> 8. Only Images </p>
      <p> 9. A Painting </p>
      <p> 10. Alive Inside </p>
      <p> 11. Minutes Left </p>
      <p> 12. Love Like the Sea </p>

  <hr>

    <p> Some well-written information </p>

  </div>

    <div class="span5 offset3">
      <div style="text-shadow: 0px 1px 1px black">

        <img src="http://25.media.tumblr.com/tumblr_masai2H5Ay1rhvm44o1_400.png"
            class="reviews" 
            data-original-title="“This album could change the world 
                                  as we know it.” ― The Jackson Sun">

      </div>

        <br />

      <p> Download </p>
    </div>

  </div>
</div>
