<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="row-fluid blogs-all">
  <aside class="span9">
    <ul class="well-body well-inner">
      <%= render @blogs %>
    </ul>
  </aside>

  <%= render 'shared/tagbar' %>
</div>
