<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="row-fluid blogs-all">
  <aside class="span9">
    <% if signed_in? && @unpublished.any? %>
      <legend> Unpublished Blogs </legend>

        <%= render(@unpublished) %>
        <br />
      <br />
      <legend> Published Blogs </legend>
    <% end %>

      <%= render(@blogs) %>
  </aside>

  <%= render('shared/tagbar') %>
</div>
