<div id="<%= article.id %>" class="well-body well-inner articles">

  <span class="timestamp">
    Posted on <%= article.timestamp %>
  </span>

  <p> <%= auto_link(article.content, html: { target: '_blank' }) do |content|
      truncate(content, length: 30) end %> </p>

  <% if signed_in? %>
    <div class="well-footer">
      <span class="bio" style="opacity:0"> hack </span>
      <%= render( partial: ('actions'), locals: { article: article } ) %>
    </div>
  <% end %>

</div>

