<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<a href="/articles.atom" id="atom" title="Subscribe">
  <%= image_tag("rss.png") %>
</a>

<ul class="well-body well-inner articles">
  <%= render @articles %>
</ul>
