<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>
<a id="atom" class="pull-right"
    href="<%= articles_path %>/feed.atom" 
    title="Subscribe">
  <%= image_tag("rss.png") %>
</a>

<%= render @articles %>
