$("#item_title2").html("<%= @title %>")
$("#show_<%= @show.id %>").html("<div class='highlight'><%= escape_javascript(render(@show)) %></div>")
$("#panel2").html("<%= escape_javascript(render(@show)) %>")
