@import "bootstrap";
@import "mixins";

/* global configurations */

html { 
  overflow-y: scroll; 
}

html,
body {
  height: 100%;
}

body {
  background-image: url(image_path('ricepaper2.png'));
  font-family: "Helvetica Neue", Arial, sans-serif; 
  font-size: 14px;
  line-height: 18px;
  padding-top: 70px;
}

@import "bootstrap-responsive";

input,
textarea,
select,
.uneditable-input {
  border: 1px solid $inputBorder;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 10px;
  display: inline-block;
  @include forms;
}

textarea {
  resize: none; 
}

section {
  overflow: auto; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
}

h2 small {
  font-size: 12px;
  font-weight: normal;
  color: $statsGray;
}

h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
}

h4 {
  font-size: 12px;
  line-height: 18px;
}

h5,
h6 {
  font-size: 11px; 
}

p { 
  margin: 0px 0px 10px; 
}

small { 
  font-size: 12px; 
}

a:focus { 
  outline: none; 
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  clear: both;
  margin: 0px 48px;
  padding: 1em;
  border: 1px solid $userBorder;
  color: $grayLight;
  @include footer;
}

footer
.container {
  width: auto;
  a { color: $grayDark; }
}

aside {
  section {
    border-top: 1px solid $border;
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

/* Page Layout */

.page-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid $userBorder;
  border-top-width: 0;
  border-bottom-width: 0;
  min-height: 100%;
  margin: -1.4em 48px auto;
  padding: 3em 1em 2em;
}

.container {
  margin: 0 auto;
}

.navbar {
  margin-left: 48px;
  margin-right: 48px;
}

.navigation {
  padding-left: 18%;
  padding-right: 18%;
}

.navbar
.nav.pull-right {
  border-top: 1px solid $border;
  text-align: center;
  border-right: 0;
}

.navbar
.navbar-inner {
  padding: 0;
  border-color: $border;
  @include modal-header;
}

.navbar
.nav li {
  display: table-cell;
  width: 1%;
  float: none;
}

.navbar
.navigation li a {
  text-align: center;
  letter-spacing: 2px;
  border-left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar
.navigation li:last-child a {
  border-right: 0;
  border-radius: 0;
}

.navbar .nav .active > a,
.navbar .nav .active:hover > a {
  background: transparent;
  box-shadow: none;
}

.navbar
.nav
.active > a,
.navbar
.nav li a:hover {
  @include hovers;
}

.navbar
.nav
.active:hover > a,
.navbar
.nav li a:hover:active {
  @include active-hovers;
}

#home {
  border-left: 1px solid $border;
}

#blog {
  border-right: 1px solid $border;
}

/* Home page Items */

#close_home {
   padding: 6px 15px; 
}

.center {
  text-align: center; 
}

.logo {
  margin: 0 48px 10px; 
}

.home-page { 
  margin: 60px 0; 
}

.home-page
.lead {
  font-size: 24px;
  line-height: 1.25;
}

/* Default Items Display */

.well-body {
  background: transparent;
  border-bottom: 1px solid $moduleBorder;
  margin: 0;
  padding: 12px;
  @include wells;
}

.well-inner-header,
.modal_header {
  line-height: 10px;
  margin-bottom: 4px;
}

.well-inner .content,
.modal_content {
  display: block;
  line-height: 19px;
  margin-left: 58px;
}

.well-inner hr { 
  margin: -10px 0 20px; 
}

.well-footer {
  font-size: 13px;
  margin-left: 58px;
}

.well-footer form {
  display: inline-block;
  margin-bottom: -6px;
}

/* Administrative actions */

.share-actions li {
  display: inline-block;
}

.share-actions a { 
  display: inline; 
}

/* Modal Config */

.modal-form form textarea {
  color: $textGrayLight;
  font-size: 14px;
  height: 78px !important;
}

.modal-form form input {
  display: block;
  margin-bottom: 8px;
}

.modal {
  margin-top: -195px;
  background: none repeat scroll 0% 0% transparent;
  overflow: visible;
  border: 0;
  box-shadow: none;
  outline: none;
}

.modal-content {
  position: relative;
  background-color: $white;
  @include modal;
}

.modal-header {
  cursor: default;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $userBorder;
  border-bottom: 1px solid $borderDarker;
  @include modal-header;
}

.modal-header
.modal-title {
  cursor: move;
  width: 75%;
  margin: 0px auto;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-shadow: 0px 1px 0px $white;
}

.modal-body { 
  overflow: hidden; 
}

.modal-backdrop, 
.modal-backdrop.fade.in { 
  opacity: .4; 
}

.username_modal {
  display: block;
}

.modal-footer { 
  cursor: move;
}

/* Articles Blogs News */

.articles {
  margin-left: 0;
}

.articles,
.blogs-all {
  clear: both;
}

.articles p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

#atom {
  margin-right: 15px;
  margin-bottom: 10px;
  float: right;;
  @include atom-icon;
}

.alert-block {
  clear: both;
}

.timestamp {
  font-size: 15px;
  color: $timestamp;
  float: right;
  font-weight: normal;
}

.bio,
.title {
  margin-bottom: 0px;
  font: italic 14px/18px Georgia, "Times New Roman", serif;
  color: $grayLarge;
}

.title {
  font-size: 26px;
  margin-bottom: .5em;
}

/* Blog formatting */

.format { 
  margin-bottom: .4em; 
  line-height: 24px;
  font-size: 15px;
}

.format p { 
  text-indent: 2em;
}

.format h1 {
  margin-bottom: 10px;
  font: bold 18px/22px Georgia, "Times New Roman", serif;
  color: $grayLarge;
}

/* Shows table */

table {
  clear: both;
  text-shadow: 0px 1px 0px $white;
  @include tables-shadow;
}

thead { 
  @include footer;
  font-size: 16px;
}

tbody {
  font-size: 15px;
  @include tables;
}

tbody .price {
  font-weight: bold;
  color: $green;
}

.actions {
  display: inline-table;
  li, li a {
    display: inline-block;
  }
}

/* various icons */

[class^="icon-pencil"], [class*=" icon-pencil"],
[class^="icon-plus-sign"], [class*=" icon-plus-sign"] {
  margin-right: 8px; 
}

/* alert messages */

#alert-notice {
  padding-right: 0;
  padding-left: 0;
}

#error_explanation {
  color: $red;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

#inline {
  margin-left: -10px;
  margin-bottom: 5px;
}

#alert-inline {
  padding-right: 10px;
  padding-left: 10px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* responsive styles */

@media ( max-width: 480px ) {

  body {
    padding-left: 0;
    padding-right: 0;
  }

  footer,
  .navbar,
  .page-wrapper,
  .logo {
    margin-left: 0;
    margin-right: 0;
  }

  footer,
  .page-wrapper {
    min-width: 275px;
  }

  .navbar { 
    min-width: 305px; 
  }

  .navbar
  .navbar-inner {
    border-radius: 0;
  }

  .navigation {
    padding-left: 0;
    padding-right: 0;
  }

  #home {
    border-left: none;
  }

  #blog {
    border-right: none;
  }

  .home-page {
    margin: 0;
  }

  .title {
    font-size: 22px;
  }

  .timestamp {
    margin-top: 5px;
  }

  .format {
    font-size: 14px;
  }

  .format h1 {
    font: bold 16px/20px Georgia, "Times New Roman", serif;
    text-align: center;
    letter-spacing: 1px;
  }

  .articles p {
    margin-top: 40px;
  }

  thead { 
    font-size: 15px;
  }

  .modal.fade.in {
    top: 200px;
  }
}
