@import "colours"

@mixin paddings
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

@mixin forms
  @include paddings
  -webkit-border-radius: 0 0 4px 4px
  -moz-border-radius: 0 0 4px 4px
  -o-border-radius: 0 0 4px 4px
  border-radius: 0 0 4px 4px
  -webkit-box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.05)
  -moz-box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.05)
  -o-box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.05)
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.05)

@mixin footer
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($white), to($mainGray))
  background-image: -webkit-linear-gradient(top, $white, $mainGray)
  background-image: -moz-linear-gradient(top, $white, $mainGray)
  background-image: -o-linear-gradient(top, $white, $mainGray)
  background-image: linear-gradient(to bottom, $white, $mainGray)

@mixin hero
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  -o-border-radius: 10px
  border-radius: 10px

@mixin shadows
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)
  -o-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)

@mixin shadows-header
  -webkit-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 6px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 6px rgba(0, 0, 0, 0.1)
  -o-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 6px rgba(0, 0, 0, 0.1)
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 6px rgba(0, 0, 0, 0.1)

@mixin grads
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($white), to($wellGray))
  background-image: -webkit-linear-gradient(top, $white, $wellGray)
  background-image: -moz-linear-gradient(top, $white, $wellGray)
  background-image: -o-linear-gradient(top, $white, $wellGray)
  background-image: linear-gradient(to bottom, $white, $wellGray)

@mixin modules
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  -o-border-radius: 6px
  border-radius: 6px

@mixin wells
  -webkit-border-radius: 0
  -moz-border-radius: 0
  -o-border-radius: 0
  border-radius: 0

@mixin modal-header
  -webkit-border-radius: 6px 6px 0px 0px
  -moz-border-radius: 6px 6px 0px 0px
  -o-border-radius: 6px 6px 0px 0px
  border-radius: 6px 6px 0px 0px
  -webkit-box-shadow: inset 0px 1px 0px $white
  -o-box-shadow: inset 0px 1px 0px $white
  -moz-box-shadow: inset 0px 1px 0px $white
  box-shadow: inset 0px 1px 0px $white

@mixin modal
  @include modules
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4)
  -moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4)
  -o-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4)
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4)

@mixin tables-shadow
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)
  -o-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)

@mixin tables
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($outterBody), to($white))
  background-image: -webkit-linear-gradient(top, $outterBody, $white)
  background-image: -moz-linear-gradient(top, $outterBody, $white)
  background-image: -o-linear-gradient(top, $outterBody, $white)
  background-image: linear-gradient(to bottom, $wellGray, $white)

@mixin atom-icon
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
  box-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

@mixin active-link
  background-image: -moz-linear-gradient(top, $white, $innerBody)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($white), to($innerBody))
  background-image: -webkit-linear-gradient(top, $white, $innerBody)
  background-image: -o-linear-gradient(top, $white, $innerBody)
  background-image: linear-gradient(to bottom, $white, $innerBody)

@mixin hovers
  background-image: -moz-linear-gradient(top, $moduleGray, $white)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($moduleGray), to($white))
  background-image: -webkit-linear-gradient(top, $moduleGray, $white)
  background-image: -o-linear-gradient(top, $moduleGray, $white)
  background-image: linear-gradient(to bottom, $moduleGray, $white)
