<ul class="actions pull-right" style="margin-bottom: 5px;">
  <li>
    <a href="<%= admin_blog_path(blog) %>" data-remote="true" data-toggle="modal"
      data-target="#modal-window" title="Expand">
      <i class="icon-fullscreen"> </i>
    </a>
  </li>
</ul>
