<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

  <div class="alert alert-block visible-phone">
    <h2>Hiya!</h2>
        Sign on to your desktop to view further details.
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Venue</th>
        <th class="hidden-phone">Address</th>
        <th class="hidden-phone">Price</th>
        <% if signed_in? %>
          <th class="hidden-phone">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render @shows %>
    </tbody>
  </table>
