<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

  <legend>Upcoming Shows</legend>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Venue</th>
        <th>Address</th>
        <th>Price</th>
        <% if signed_in? %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render @shows %>
    </tbody>
  </table>
