<nav class="pull-left">

  <%= link_to "Samuel Raines Official Music", :home, 
      :title => "Samuel Raines Official Music" %>

    Samuel G. Raines

</nav>
<nav class="pull-right">

  <%= link_to "Admin Login", :signin %>
