<nav class="pull-left">

  &copy; <%= link_to "Samuel G. Raines Music", :home %>

</nav>

<nav class="pull-right">

  <% if signed_in? %>
    <%= link_to "Signout", :signout, method: "delete" %>
  <% else %>
    <%= link_to "Admin Signin", :signin %>
  <% end %>

</nav>
